<h1>Answer</h1>
<div class="card p-3 box-shadow shadow-sm rounded mb-4 bg-light">
  <p><%= @question %></p>
  <p>- You</p>
</div>
<div class="card p-3 box-shadow shadow-sm rounded mb-4 bg-light">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>
