<h1>Ask form</h1>
<form action="answer" class="form-inline d-flex">
  <input type="text" name="question" placeholder="Ask something" class="form-control me-2">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
